In [2]:
import pandas as pd
import numpy as np

Demographic Data Analyzer---US Census Data 1990

In [91]:
#importing data set
df = pd.read_csv('adult.data.csv')

In [23]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

How many people of each race are represented in the datasets

In [117]:
Total_sum = 0
White_race_sum = 0
Black_race_sum = 0
Asian_Pac_sum = 0
Amer_Indian_sum = 0
Others_sum = 0

for i in df['race']:
    if i == "White":
        Total_sum +=1
        White_race_sum = Total_sum
        #print("WHITE RACE: ",Total_sum)
    elif i == "Black":
        Total_sum +=1
        Black_race_sum = Total_sum
        #print("BLACK RACE: ",Total_sum)
    
    elif i == "Asian-Pac-Islander":
        Total_sum +=1
        Asian_Pac_sum = Total_sum

    elif i == "Amer-Indian-Eskimo":
        Total_sum +=1
        Amer_Indian_sum = Total_sum
        
    else:
        Total_sum+=1
        Others_sum = Total_sum
        #print("unknown race",i)
print("White race sum: ", White_race_sum)
print("Black race sum: ", Black_race_sum)
print("Asian Pac race sum: ", Asian_Pac_sum)
print("Amer Idian race sum: ", Amer_Indian_sum)
print("Others race sum: ", Others_sum)

White race sum:  32561
Black race sum:  32542
Asian Pac race sum:  32554
Amer Idian race sum:  32552
Others race sum:  32545

What is the average age of men

In [96]:
df.loc[df['sex'] == "Male", ['sex', 'age']]

        sex  age
0      Male   39
1      Male   50
2      Male   38
3      Male   53
7      Male   52
...     ...  ...
32553  Male   32
32554  Male   53
32555  Male   22
32557  Male   40
32559  Male   22

[21790 rows x 2 columns]

In [98]:
Male_age = df.loc[df['sex'] == "Male", ['age']]

In [292]:
Male_age.mean()
Rounded = round(Male_age.mean(), 2)
print(Rounded)

age    39.43
dtype: float64

What is the percentage of people who have a Bachelors degree

In [293]:
Sum_total = 0
Total_bachelor_sum = 0
Bachelor_Perct = 0
for i in df['education']:
    if i == "Bachelors":
        Sum_total+=1
        Total_bachelor_sum = Sum_total
        Bachelor_Perct = (Total_bachelor_sum/(len(df['education'])))*100
        #print("No of Bachelors", Bachelor_Perct)
print("Bachelors %:  ", round(Bachelor_Perct,2),"%")

Bachelors %:   16.45 %

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50k?

In [300]:
#people earning >50K
Perct_of_people = df.loc[df['salary'] == ">50K", ['education']]

# % of Bachelors education earning >50K

Bachelors_earn = len(Perct_of_people.loc[Perct_of_people['education'] == "Bachelors", 'education'])
Total_sum = len(Perct_of_people)
Output_1 = (Bachelors_earn/Total_sum)*100
Masters_earn = len(Perct_of_people.loc[Perct_of_people['education'] == "Masters", 'education'])
Output_2 = (Masters_earn/Total_sum)*100
Doctorate_earn = len(Perct_of_people.loc[Perct_of_people['education'] == "Doctorate", 'education'])
Output_3 = (Doctorate_earn/Total_sum)*100

In [301]:
print("Bachelors>50K:  ", round(Output_1,2), "%")
print("Masters>50K:  ", round(Output_2,2), "%")
print("Doctorate>50K:  ", round(Output_3,2), "%")

Bachelors>50K:   28.33 %
Masters>50K:   12.23 %
Doctorate>50K:   3.9 %

What percentage of people without advanced education make more than 50K?

In [160]:
Bachelors_earn = len(Perct_of_people.loc[Perct_of_people['education'] == "Bachelors", 'education'])
Masters_earn = len(Perct_of_people.loc[Perct_of_people['education'] == "Masters", 'education'])
Doctorate_earn = len(Perct_of_people.loc[Perct_of_people['education'] == "Doctorate", 'education'])
Total_sum_of_people = len(Perct_of_people)
Without_adv_degree_sum = Total_sum_of_people - (Bachelors_earn + Masters_earn + Doctorate_earn)
Perct_without_adv_edu = (Without_adv_degree_sum/Total_sum_of_people)*100

In [297]:
print("Total of People with Bachelors >50K: ", Bachelors_earn)
print("Total of People with Masters >50k:  ", Masters_earn)
print("Total of People with Doctorate >50K: ", Doctorate_earn)
print("Total of People without advanced education >50K:  ",Without_adv_degree_sum)
print("Perct of people without advanced education >50K: ", round(Perct_without_adv_edu,2),"%")

Total of People with Bachelors >50K:  2221
Total of People with Masters >50k:   959
Total of People with Doctorate >50K:  306
Total of People without advanced education >50K:   4355
Perct of people without advanced education >50K:  55.54 %

What is the minimum no of hours a person works per week

In [167]:
Min_hours_perweek = df['hours-per-week']

In [172]:
Min_hours_perweek.min()

1

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K

In [176]:
Hours_per_week_more_than50K = df.loc[df['salary'] == ">50K", ['hours-per-week']]
Minimum_num_hours_than50k = Hours_per_week_more_than50K.loc[Hours_per_week_more_than50K['hours-per-week'] == 1, 'hours-per-week']

In [298]:
A_output = len(Hours_per_week_more_than50K)
B_output = len(Minimum_num_hours_than50k)
Perct_min_work_hrs = (B_output/A_output)*100
print("Perctange of min no of hours >50K:  ",round(Perct_min_work_hrs,2),"%")

Perctange of min no of hours >50K:   0.03 %

What country has the highest percentage of people than earn >50K and what is that percentage

In [299]:
Countries_than50K = df.loc[df['salary'] == ">50K", ['native-country']]
C_output = len(Countries_than50K)
Country_highest_perct = Countries_than50K.loc[Countries_than50K['native-country'] == "United-States", 'native-country']
D_output = len(Country_highest_perct)
Country_percentage = (D_output/C_output)*100 
print("The country with the highest percentage: ","United-States", round(Country_percentage,2), "%")

The country with the highest percentage:  United-States 91.46 %

Identify the most popular occupation for those who earn >50K in India

In [285]:
Test_output = df[['native-country','occupation','salary']]

In [284]:

Test_output
Test_output2 = Test_output.loc[Test_output['native-country']=="India",['occupation','native-country','salary']]
Test_output3 = Test_output2.loc[Test_output2['salary']==">50K",['occupation']]
#print(Test_output3)

In [283]:
Total_sum = 0
Total_Exec_managerial = 0
Total_Prof_specialty = 0
Total_Adm_clerical = 0
Total_machine_op_inspct = 0
Total_unknown = 0
Total_tech_support = 0
Total_sales = 0
Total_other_service = 0

for i in Test_output3:
    for j in Test_output3[i]:
        if j == "Exec-managerial":
            Total_sum+=1
            #print("Exec-managerial",Total_sum)
            Total_Exec_managerial = Total_sum
        elif j == "Prof-specialty":
            Total_sum+=1
            #print("Prof-specialty", Total_sum)
            Total_Prof_specialty = Total_sum
        elif j == "Adm-clerical":
            Total_sum+=1
            #print("Adm-clerical", Total_sum)
            Total_Adm_clerical = Total_sum
        
        elif j == "Tech-support":
            Total_sum+=1
            #print("Tech-support", Total_sum)
            Total_tech_support = Total_sum
            
        elif j == "Sales":
            Total_sum+=1
            #print("Sales", Total_sum)
            Total_sales = Total_sum
        elif j == "Other-service":
            Total_sum+=1
            #print("Other-service", Total_sum)
            Total_other_service = Total_sum
        else:
            Total_sum+=1
            print("others",j, Total_sum)

print("Exec_managerial: ",Total_Exec_managerial)
print("Prof_specialty: ",Total_Prof_specialty)
print("Adm_clerical: ",Total_Adm_clerical)
print("Tech-support: ",Total_tech_support)
print("Sales: ",Total_sales)
print("Other-service: ",Total_other_service)

others Transport-moving 20
Exec_managerial:  28
Prof_specialty:  40
Adm_clerical:  38
Tech-support:  27
Sales:  25
Other-service:  18